# Gemini
GEMINI_API_KEY=

# Appwrite
APPWRITE_ENDPOINT=
APPWRITE_PROJECT_ID=
APPWRITE_API_KEY=

# Redis
REDIS_URL=redis://localhost:6379/0

# App
BACKEND_SECRET_KEY=
ALLOWED_ORIGINS=http://localhost:3000
